# coding=utf-8
import os

# 1是ping发现主机，0是通过发送tcp syn包到指定端口来发现主机
FIND_HOST = os.environ.get("FIND_HOST", 1)
# 扫描超时设置，单位秒
SCAN_TIMEOUT=int(os.environ.get("SCAN_TIMEOUT", 300))

# redis配置，需按照实际情况修改
REDIS_IP = os.environ.get("REDIS_IP", "127.0.0.1")  # redis的ip
REDIS_PORT = str(os.environ.get("REDIS_PORT", "6379"))  # redis的端口
REDIS_PWD = os.environ.get("REDIS_PWD", "pwd")  # redis的连接密码
VULSCAN_KEY = os.environ.get("VULSCAN_KEY", "pwd")  # 用于后续扫描的队列，没后续扫描则保留为空

# db配置，需按照实际情况修改
MONGO_IP = os.environ.get("MONGO_IP", "127.0.0.1")  # mongodb的ip
MONGO_PORT = int(os.environ.get("MONGO_PORT", 27017))  # mongodb的端口
MONGO_USER = os.environ.get("MONGO_USER", "scan")  # mongodb的用户名
MONGO_PWD = os.environ.get("MONGO_PWD", "123456")  # mongodb的密码

# 可以保持默认
MONGO_DB_NAME = "portscan"
MONGO_TASKS_COLL_NAME = "tasks"
MONGO_RESULT_COLL_NAME = "scan_result"
MONGO_SETTING_COLL_NAME = "setting"
